body {
    background-color: rgb(235, 250, 235);
}

h1 {
    text-align: center;
    color: red;
    padding: 25px;
    background-color: white;
    font-size: 50px;
}

nav {
    background-color: rgb(60, 0, 139);
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

.container {
    background-color: aliceblue;
    width: 100%;
    height: 50%;
}

h3 {
    text-align: center;
    font-size: 50px;
    padding: 20px;

}

img {
    height: 50%;
    width: 30%;
}

footer {
    text-align: center;
    padding: 10px;
}

/*for narrow screen*/
@media(max-width:500px) {
    body {
        background-color: rgb(70, 70, 83);
    }

    h1 {
        text-align: center;
        color: black;
        padding: 15px;
        background-color: purple;
        font-size: 25px;

    }

    .container {
        background-color: aliceblue;
        width: 100%;
        height: 25%;
        padding: 10px;
        margin: 5px;
        display: block;
    }

    h3 {
        text-align: center;
        font-size: 10px;
        padding: 10px;
    }

    img {
        height: 50%;
        width: 30%;
    }

    nav {
        background-color: rgb(60, 0, 139);
        text-align: center;
        text-decoration: none;
        justify-content: space-between;
    }

    nav a {
        text-decoration: none;
        text-align: center;
        margin: 10px;
        padding: 10px;
        color: white;
        display: grid;
    }
}

/*for smart phone*/

@media (min-width:501px) and(max-width:720px) {
    body {
        background-color: rgb(126, 138, 103);
    }

    h1 {
        text-align: center;
        color: yellow;
        padding: 25px;
        background-color: black;
        font-size: 50px;
    }

    .container {
        background-color: aliceblue;
        width: 100%;
        height: 50%;
    }

    h3 {
        text-align: center;
        font-size: 50px;
        padding: 20px;
    }

    h3 {
        text-align: center;
        font-size: 50px;
        padding: 20px;
    }

    img {
        height: 50%;
        width: 30%;
    }

    nav a {
        text-decoration: none;
        text-align: center;
        margin: 10px;
        padding: 10px;
        color: white;
        display: grid;
    }
}

/*for tablet*/
@media(min-width:721px) {
    body {
        background-color: rgb(116, 82, 82);
    }

    h1 {
        text-align: center;
        color: green;
        padding: 25px;
        background-color: white;
        font-size: 50px;
    }

    .container {
        background-color: aliceblue;
        width: 100%;
        height: 50%;
    }

    h3 {
        text-align: center;
        font-size: 50px;
        padding: 20px;

    }

    img {
        height: 50%;
        width: 30%;
    }
}


/*for laptob*/
@media(min-width:961px) {
    body {
        background-color: rgb(65, 62, 62);
    }

    h1 {
        text-align: center;
        color: rosybrown;
        padding: 25px;
        background-color: rosybrown;
        font-size: 50px;
    }

    h3 {
        text-align: center;
        font-size: 50px;
        padding: 20px;

    }

    .container {
        background-color: aliceblue;
        width: 100%;
        height: 50%;
    }

    img {
        height: 50%;
        width: 30%;
    }
}